@page
@model MascotaFeliz.App.Frontend.Pages.ListaduenosModel
@{
}

<h1>Listado propietarios </h1>
<table class="tabla">
     <tr>
            
            <th>Nombres</th>
            <th>Apellidos</th>
           
        </tr>
    @foreach (var dueno in Model.listaDuenos)
    {
       
          <tr>
            <td>@dueno.Nombres</td>
            <td>@dueno.Apellidos</td>
            
        </tr> 
    }

</table>
    