* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.imagenConsulta {
    background-image: url('./Imagenes/fondo_consulta.jpg'); 
    background-size: cover;
    height: 700px;
    position: relative;
  }
  .formcons {
    width: 1240px;
    height: 560px;
    background: #e6e6e6cb;
    border-radius: 9px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: center;
    left: -250px

}
h2{
    margin: 50px 450px;
    margin-bottom: -20px;
    padding-bottom: -0px;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 280px;
    color: #2CCAAE; 
    font-size: 25px; 

}

input {
    margin: 10px 900px;
    width: 20%;
    padding: 3px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #2CCAAE;

    
}

input:focus {
    border-bottom: 2px solid black
}

.search{
    position: relative; 
    top: 40px; 
    margin-right:100px
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: black
}

button {
    
    float: center;
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
    border-radius: 7px;
    
}
.botonc{
    position: relative; 
    top: 100px; 
    margin-left:-975px;
}

.botoni {
    float: center;
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    background: 0;
    color: 0;
    cursor: pointer;
    transition: all .3s;
    border: none;
    right: -1145px;
    position: relative;
    
}
  
button:hover {
    background: #2CCAAE;
    border: #2CCAAE;
    color: #fff;
    
}

div {
    content: 'Hi';
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 10px 410px;
    margin-top: 50px;
    bottom: -15px;
    right: -20px;
    background: 0;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px 0;
}

span {
    margin: 0 3px 0 15px
}

table{
    padding: 2px 3px ;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 7px;
}
th {
    border :1px solid black;;
    background-color: #2CCAAE;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: 0;
}
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}